DATABASE_URL=postgresql://postgres:123456@127.0.0.1:5433/around

APP_ENV=dev
HOST=0.0.0.0
PORT=8000

CORS_ORIGINS=http://localhost:3000,http://localhost:8000,http://localhost:5173,http://localhost:*

MAPBOX_TOKEN=pk.eyJ1Ijoic3lpbXlrMjI4IiwiYSI6ImNta254Z2Q3ejAwZnkzZXF5ZnJoZWM2djgifQ.ctup6mhV6MvTq-rHKDXJzA
